@{
    ViewData["Title"] = "Bilgilendirme";
}

<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4 text-center mb-5">
                <i class="fas fa-info-circle text-primary"></i> Bilgilendirme
            </h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card shadow-sm">
                <div class="card-body p-5">
                    <h3 class="text-primary mb-4">VetLine Hakkında</h3>
                    <p class="lead">
                        VetLine, Erzurum Palandöken'de evcil dostlarınıza modern ve güvenilir veteriner hizmetleri sunan bir kliniktir.
                    </p>
                    
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <h5><i class="fas fa-clock text-primary"></i> Çalışma Saatleri</h5>
                            <p>Pazartesi - Cumartesi: 08:00 - 19:00<br>
                               Pazar: 10:00 - 17:00</p>
                        </div>
                        <div class="col-md-6">
                            <h5><i class="fas fa-phone text-primary"></i> Acil Durum</h5>
                            <p>7/24 acil servis hizmeti<br>
                               Tel: +90 (442) 123 45 67</p>
                        </div>
                    </div>
                    
                    <hr class="my-4">
                    
                    <h5 class="text-primary">Hizmet Politikamız</h5>
                    <ul class="list-unstyled">
                        <li><i class="fas fa-check text-success"></i> Sağlık, bakım ve koruyucu hekimlik</li>
                        <li><i class="fas fa-check text-success"></i> Modern cihazlarla teşhis</li>
                        <li><i class="fas fa-check text-success"></i> Sahipsiz hayvanlara ücretsiz hizmet</li>
                        <li><i class="fas fa-check text-success"></i> Online randevu sistemi</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
